

/*! Top level */
section {
  margin-left: 15%;
  margin-right: 15%
}

a:link {
  color: black;
  cursor:pointer;
}

a:visited {
  color: darkgrey;
  cursor:pointer;
}





body {
  font-family: "Courier New", Courier, monospace;
  background-image: url('./Misc/balloon.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 3em;
  justify-content: center;
  background-size: 10%;
  background-color: rgb(250, 247, 231);
}

h1 {
  font-weight: 200;
}

/*! Navigation menu */
#navBar {
  position: sticky;
  top: 0%;
  margin-top: 0%;
  
}

#navBar ul {
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  margin: 0;
  list-style-type: none;
  background-color: rgba(250, 247, 231, 0.85);
}

#navBar ul a:link { 
  color: black;
  text-decoration: none; 
}

#navBar ul a:visited {
  color: black;
  text-decoration: none;
}

/*! Hamburger  */

.hamburger {
  position: relative;
  display: inline-block;
}

.hamburger-content {
  display: none;
  z-index:1;
  background-color: salmon;
}

.hamburger:hover .hamburger-content {
  display: flex;
  animation: popup 5.5s ease-in-out both;
  position: absolute;
  background-color: rgba(250, 247, 231, 0.85);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hamburger span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  /* transform: rotate(90deg); */
  font-weight: 900;
}

.hamburger:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: inline-block;
  /* transform: rotate(180deg); */
}

.hamburger {
  display: none;
}

/*! Home */
.pageTitle {
  display: flex;
  justify-content: center;
}

#bookbanner {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -4.5em;
  margin-bottom: -2em;
  width: 90%;
  z-index: 0;
}

/*! Genre */

#genreImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

#genrePageTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 15%;
}

/*! Genre Navigation menu */
#genreNavBar li {
  color: black;
  cursor:pointer;
}

.genreDropdown {
  float: left;
  overflow: hidden;
}

#genreButton {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#genreNavBar {
  display: none;
  position: absolute;
  background-color: rgba(250, 247, 231, 0.85);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

#genreNavBar a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#genreNavBar a:hover {
  background-color: #ddd;
}

.genreDropdown:hover #genreNavBar {
  display: block;
}


/*! Cart */

.cartButtons{
  background-color: rgb(240, 237, 222);
  border-radius: 25px;
  border: 2px outset rgb(211, 207, 189);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 5px 9px;
}

.cartProduct {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 3em;
  padding: 1em;
  border: 3px double black;
  /* border-radius: 15px; */
  box-shadow: rgba(0, 0, 0, 0.20) 3px 3px 3px;
}

.cartProduct h2 {
  font-size: medium;
}

.cartProduct h3 {
  font-size: smaller;
}

.cartCoverPic {
  height: 70%;
  width: 80%;
}

/*! Check out */

.checkout_container {
  margin-left: 10%;
  margin-right: 10%;
}

.checkout_products_list{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkout_product_container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 3em;
  margin-right: 1em;
  padding: 1em;
  border: 3px double black;
  /* border-radius: 15px; */
  box-shadow: rgba(0, 0, 0, 0.20) 3px 3px 3px;
}

.checkout_image {
  width: 100px;
}

/*! ProductFull */

.productFull {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 3em;
  padding: 1em;
  border: 3px double black;
  /* border-radius: 15px; */
  box-shadow: rgba(0, 0, 0, 0.20) 3px 3px 3px;
}

.productFull h1 {
  cursor:pointer;
}

.productFull h2 {
  font-size: medium;
}

.productFull h3 {
  font-size: smaller;
}

.starPic {
  width: 25px;
  height: 25px;
}

.cartPic {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.added {
  font-size: x-small;
}

.smallPics {
  position: relative;
  right: -90%;
  top: -40%;
}

.coverPic {
  height: 100%;
  width: 80%;
}

/*!  Reviews */
.review h2{
  font-size: medium;
}

.reviewStars img {
  width: 25px;
}
.reviewStars {
  position: relative;
  right: -80%;
  top: -5em;
}

.reviewInput {
  width: 80%;
  padding-bottom: 10em;
}

.reviewStarsContainer {
  display: flex;
  margin-left: 10%;
  /* margin-top: -0.5em; */
  padding-bottom: 1em;
}

.reviewStarsContainer h3{
  margin-left: 2%;
  margin-top: 0;
  padding-top: -1em;
  margin-bottom: 0;
  font-size: x-large;
}

.reviewsAddStarsButton {
  background-color: rgb(240, 237, 222);
  border-radius: 25px;
  border: 2px outset rgb(211, 207, 189);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 5px 9px;
  }

/*! Footer */

#footer {
  position:sticky;
  bottom: 0%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255, 0.9);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
  font-size: 0.8em;
  margin: 0;
  z-index: 1;
  background-color: rgb(250, 247, 231);
}

#footer a:link {
  color: black;
  text-decoration: none;
}

#footer a:visited {
  color: black;
  text-decoration: none;
}

/*! CRUD */

.CRUD {
  padding-bottom: 10%;
}

#CRUDwarn {
  display: inline-block;
  position: absolute;
  font-weight: 100;
  font-size: x-small;
  margin-top: 0.5em;
}

.CRUD label{
  /* display: inline-block; */
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
}

.CRUDadmin h3 {
  margin-left: 250px;
}
.CRUDadmin h1 {
  margin-left: 250px;
}

.CRUDsubmit {
margin-left: 252px;
background-color: rgb(240, 237, 222);
border-radius: 25px;
border: 2px outset rgb(211, 207, 189);
font-family: "Courier New", Courier, monospace;
font-weight: bold;
padding: 5px 9px;
}

.CRUDsubmitLogout {
  position: absolute;
  left: 10%;
  top: 9.5%;
  background-color: rgb(240, 237, 222);
  border-radius: 25px;
  border: 2px outset rgb(211, 207, 189);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 5px 9px;
  }

.CRUDmessage {
  margin-left: 250px;
}

.CRUDimageUpload {
  background-color: rgb(240, 237, 222);
  border-radius: 25px;
  border: 2px outset rgb(211, 207, 189);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 5px 9px;
  }


  .CRUDimageUploadContainer {
    margin-top: -12%;
    margin-left: 252px;
    margin-right: 252px;
    margin-bottom: 10%;
  }
/*! assorted */

.registerLine {
  cursor: pointer;
  margin-left: 20%;
  text-decoration: underline;
}

/*! UserPage*/

.userPage {
  margin-left: 10%;
  margin-right: 10%;
}

.order {
  border: 3px double black;
  box-shadow: rgba(0, 0, 0, 0.20) 3px 3px 3px;
  margin-bottom: 3em;
  padding: 1em;
}

.orderContainer {
  margin-bottom: 3em;
  padding: 1em;
  border: 3px double black;
  box-shadow: rgba(0, 0, 0, 0.20) 3px 3px 3px;
}

.logoutButton {
  background-color: rgb(240, 237, 222);
  border-radius: 25px;
  border: 2px outset rgb(211, 207, 189);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 5px 9px;
  }

  /*!  */
  @media all and (max-width: 800px) {
    #bookbanner {
      margin-top: -2em;
    }

    .topnavbar {
      display: none;
    }
    .hamburger {
      display: inline-block;
    }
    #navBar ul {
      display: grid;
      grid-template-columns: 1fr;

    }


    /*! Productfull */
    .productFull {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 3em;
      padding: 1em;
      border: 3px double black;
      /* border-radius: 15px; */
      box-shadow: rgba(0, 0, 0, 0.20) 3px 3px 3px;
    }
    .productFull h3 {
      display: none;
    }
    .coverPic {
      height: 90%;
      width: 90%;
      margin-right: 1em;
    }

    .smallPics {
      position: relative;
      right: -90%;
      top: -50%
    }

    .reviewStars img {
      width: 12px;
    }
    .reviewStars {
      position: relative;
      right: -80%;
      top: -4em;
    }


  }
  
  @media all and (max-width: 460px) {
    .topnavbar {
      display: none;
    }
    .hamburger {
      display: inline-block;
    }

    .smallPics {
      position: relative;
      right: -90%;
      top: -85%
    }
  }

